---
title: "From Fool to Wise"
layout: default
pagination: 
  enabled: true
description: "Adventures in Investing, Psychology, and Being Less of a Fool."
---


<div class="container">

{% if page.url == "/" %}
<div class="jumbotron jumbotron-fluid jumbotron-home  pt-0 pb-0 mt-3 mb-2rem  bg-primary position-relative image-no-padding-right" >
    <div class="pl-4 pr-0 h-100 tofront">
        <div class="row justify-content-between">
            <div class="col-md-6 pt-6 pb-6 pr-lg-4 align-self-center">              
                <h1  class="board-text">Adventures in </h1>
                <h1  class="board-text">Investing, </h1>
                <h1  class="board-text">Psychology, </h1>
                <h1 class="mb-5 board-text" >and Being less of a Fool</h1>            
                <div class="row justify-content-center">
                    <a href="{{site.baseurl}}/categories.html" class="btn btn-dark" >Read All Stories</a>
                </div>
            </div>
            <div class="col-md-6  pr-0" style="background-size:cover;background-image:url({{site.baseurl}}/assets/images/Parrot.jpg); background-position:right top">
            </div>
        </div>
    </div>
</div>



{% endif %} <!--endif page url is / -->
<div class="row mt-3">

    <div class="col-md-8 main-loop">

        <h4 class="font-weight-bold spanborder"><span>All Stories</span></h4>        

        {% for post in paginator.posts %}

            {% include main-loop-card.html %}

        {% endfor %}

        <div class="mt-5">
         <!-- Pagination links -->
            {% if paginator.total_pages > 1 %}
            <ul class="pagination">
              {% if paginator.previous_page %}
                <li class="page-item"><a class="page-link" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a></li>
              {% else %}
                <li class="page-item disabled"><span class="prev page-link">&laquo;</span></li>
              {% endif %}

              {% for page in (1..paginator.total_pages) %}
                {% if page == paginator.page %}
                <li class="page-item disabled"><span class="webjeda page-link">{{ page }}</span></li>
                {% elsif page == 1 %}
                <li class="page-item"><a class="page-link" href="{{site.baseurl}}/">{{ page }}</a></li>
                {% else %}
                <li class="page-item"><a class="page-link" href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a></li>
                {% endif %}
              {% endfor %}

              {% if paginator.next_page %}
                <li class="page-item"><a class="page-link" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a></li>
              {% else %}
                <li class="page-item disabled"><span class="next page-link">&raquo;</span></li>
              {% endif %}
            </ul>
            {% endif %}
        </div>


    </div>
  
    <div class="col-md-4">
        {% include sidebar-featured.html %}
     
    </div>

</div>









</div>
